body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(212, 142, 142);
}

.container{
    width: 60%;
    height: 500px;
    border: none;
    margin: 50px 0 0 270px;
    box-shadow: 4px 4px 8px #000;
    border-radius: 15px;
    background-image: url(1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.change-item{
    accent-color: red;
    cursor: pointer;
}

.change-items{
    display: flex;
    justify-content: column;
    gap: 50px;
    padding: 30px 0 0 520px;
    
}

@media screen and (max-width: 700px){
    .container{
        width: 350px;
        height: 200px;
        margin: 150px 0 0 20px;
    }

    .change-items{
        gap: 20px;
        padding: 30px 0 0 80px;
    }
    
    
}
